 #addContactButton  {
    background-color:#edf3f0;
    color:#50D9A3;
    font-size: 20px;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-left: 75%;
    font-weight: bold;
  } 

  #addContactButton:focus {
    outline: none;
  }
  
  
  /* #addContactButton:hover {
    background-color: #50d9a3;
    color: #fff; 
  } */
  