
.Petcard.p-3.m-2 {
    width: 400px;
    height: 800px;
    margin: 20px;
    border-radius: 10%;
    border-style: solid;
    border-color: aquamarine;
}

*[name='Grid'] {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

*[name='PetPicture'] {
  display: block;
  border: blue;
  grid-row-end: span 3;
}

.span4rows {
  grid-row-end:  span 4;
}

.span2columns {
  grid-column-end:  span 2;
}

.span3columns {
  grid-column-end:  span 3;
}